<header class="header">
  <div class="container">
    <a
      class="header-logo"
      href="/index.html"
      aria-label="Organic Shop home page"
    >
      <svg class="header-icon" width="142" height="60">
        <use href="/img/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header-nav" aria-label="Main navigation">
      <ul class="header-nav-list">
        <li>
          <a class="header-nav-link" href="/index.html">Home</a>
        </li>
        <li>
          <a class="header-nav-link" href="/partials/mission.html">Mission</a>
        </li>
        <li>
          <a class="header-nav-link" href="/partials/benefits.html">Benefits</a>
        </li>
        <li>
          <a class="header-nav-link" href="/partials/assorts.html"
            >Assortment</a
          >
        </li>
        <li>
          <a class="header-nav-link" href="/partials/feedbacks.html"
            >Feedbacks</a
          >
        </li>
        <li>
          <a class="header-nav-link" href="/partials/FAQ.html">FAQ</a>
        </li>
        <li>
          <a class="header-nav-link" href="/partials/contacts.html">Contacts</a>
        </li>
      </ul>
    </nav>
    <a class="header-order-link" href="/partials/assorts.html">Order</a>
  </div>
</header>
