<header class="header">
  <div class="container">
    <div class="header-container">
      <a
        class="header-logo"
        href="/index.html"
        aria-label="Organic Shop home page"
      >
        <svg class="header-logo-icon" width="142" height="60">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <div class="header-nav-wrapper">
        <nav class="header-nav" aria-label="Main navigation">
          <ul class="header-nav-list">
            <li class="header-nav-item">
              <a class="header-nav-link" href="/index.html">Home</a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href="#">Mission</a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href="#">Benefits</a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href="#">Assortment</a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href="#">Feedbacks</a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href="#">FAQ</a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href="#">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-wrapper">
        <a class="header-order-link" href="#">Order</a>
        <button class="header-menu-btn" type="button" aria-label="Open menu">
          <svg class="header-menu-icon" width="32" height="32">
            <use href="/img/sprite.svg#icon-menu"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>

<div class="mobile-menu">
  <div class="container">
    <div class="mob-menu-wrapper">
      <a
        class="menu-logo"
        href="/index.html"
        aria-label="Organic Shop home page"
      >
        <svg class="menu-logo-icon" width="142" height="60">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <button class="close-menu-btn" type="button" aria-label="Close menu">
        <svg class="menu-icon" width="16" height="16">
          <use href="/img/sprite.svg#icon-close-btn"></use>
        </svg>
      </button>
    </div>
    <ul class="mob-menu-list">
      <li class="header-nav-item">
        <a class="header-nav-link" href="/index.html">Home</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="#">Mission</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="#">Benefits</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="#">Assortment</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="#">Feedbacks</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="#">FAQ</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="#">Contacts</a>
      </li>
    </ul>
    <a class="menu-order-link" href="#">Order</a>
  </div>
</div>
