<section class="mission">
  <div class="container">
    <div class="mission-text-content">
      <h2 class="mission-title-text">
        Our Mission: Fresh, Local, and Organic for a Healthier Tomorrow.
      </h2>
      <p class="mission-text">
        At Organic Shop, we believe in the power of nature. Our mission is to
        provide you with fresh, locally sourced organic products that nourish
        both body and soul. We partner with ethical farmers who share our
        commitment to sustainability and quality.
      </p>
    </div>
    <div class="mission-img">
      <img
        src="/img/mission/mission-people.jpg"
        alt="People preparing organic food together"
      />
    </div>
  </div>
</section>
