.footer {
  padding: 80px 0;
  background: var(--color-scheme-5-background);
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 40px;
}
.svg-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-svg,
.footer-socials-svg {
  fill: var(--color-white);
}
.footer-nav-list {
  display: grid;
  gap: 32px;
  font-size: 16px;
  color: var(--color-scheme-1-text);
}
.footer-nav-link:hover,
.footer-nav-link:focus {
  color: var(--hover-link);
}
.footer-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-socials-link {
  display: block;
  padding: 6px;
}
.footer-credits {
  border-top: 1px solid var(--color-scheme-5-border);
  padding-top: 32px;
}
.footer-credits-text {
  font-size: 14px;
  color: var(--color-scheme-5-text);
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .footer-nav-list {
    text-align: center;
  }
  .footer-socials-list {
    gap: 11px;
}
}
@media only screen and (min-width: 768px) {
  .footer-nav-list {
    display: flex;
  }
}
