.hero {
  width: 100%;
  padding: 120px 0;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/img/hero/Heroimage1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../img/hero/Heroimage2x.jpg');
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    padding: 234px 0;
    background-position: center top;
  }
}
@media only screen and (min-width: 1440px) {
  .hero {
    padding: 326px 0;
  }
}

.hero-title {
  font-weight: 400;
  font-size: 40px;
  color: var(--color-white);
  margin-bottom: 8px;
}
@media only screen and (min-width: 1440px) {
  .hero-title {
    font-size: 56px;
    max-width: 600px;
  }
}
.hero-text {
  font-weight: 400;
  color: var(--color-white);
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .hero-text {
    max-width: 611px;
    overflow: hidden;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-text {
    max-width: 646px;
  }
}
.hero-btn {
  text-align: center;
  width: 100%;
  padding: 6px 32px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid var(--color-white);
  background-color: var(--color-white);
  color: var(--color-neutral-darkest);
  transition:
    background-color 250ms ease,
    opacity 150ms ease;
}

@media only screen and (min-width: 768px) {
  .hero-btn {
    width: 254px;
    padding: 8px 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-btn {
    width: 199px;
  }
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-neutral-lightest);
}

.hero-btn:active {
  background-color: var(--color-neutral-lightest);
}
