.mission {
    background-color: var(--color-scheme-1-background);
    color: var(--color-scheme-1-text);
    padding: 64px 0;
}

.mission-text-content {
    margin-bottom: 32px;
}

.mission-title-text {
    margin-bottom: 24px;
    max-width: 343px;

    font-weight: 400;
    font-size: 36px;
}

.mission-text {
    max-width: 343px;
}

.mission-img img {
    width: 100%;
}


@media only screen and (min-width: 768px) {
    .mission-text-content {
        display: flex;
        gap: 24px;
        
    }

    .mission-title-text {
        max-width: 340px;
    }

    .mission-text {
        max-width: 340px;
    }
}

@media only screen and (min-width: 1440px) {
    .mission {
        padding: 112px 0;
    }

    .mission-text-content {
        margin-bottom: 80px;
    }

    .mission-title-text {

        max-width: 644px;
        margin-bottom: 0;
        font-size: 48px;
    }

    .mission-text {
        max-width: 644px;
    }

}