h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2 {
  font-family: var(--second-family);
  line-height: 1.2;
  letter-spacing: -0.01em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  color: currentColor;
  text-decoration: none;
}

button {
  display: block;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}
body {
  margin: 0;
}
